.container {
    background-color: lightblue;
}

#para1 {
    color: red;
}

.box-model {
    border: solid green;
    background-color: yellow;
    margin-top: 20vh;
}

.box-model h1 {
    padding-top: 10vh;
    padding-left: 50vw;
}

.viewport-example {
    background-color: green;
    width: 75vw;
    height: 20vh;
}
